/* Variables */
/* Nest Nav */
nav {
  padding-bottom: 5px;
  color: white; }
  nav li {
    display: inline-block; }
  nav a {
    display: block;
    padding: 3px 6px;
    text-decoration: none;
    color: white; }

* {
  background-color: #daaa0e; }

/* Nest Main */
main {
  width: 1350px;
  min-height: 535px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid white;
  background-color: #d4d5d8; }
  main span {
    font-family: "Sacramento", cursive;
    background-color: #d4d5d8;
    font-size: 1.4rem; }
  main h3 {
    font-family: Arial, Helvetica, Sans-Serif;
    background-color: #d4d5d8;
    font-size: 1.8rem; }
  main p {
    font-family: Arial, Helvetica, Sans-Serif;
    background-color: #d4d5d8; }
  main button {
    background-color: #daaa0e;
    color: white;
    border: 0;
    cursor: pointer;
    width: 7em;
    height: 2.5em; }
  main #intro-text {
    width: 700px;
    float: left;
    padding-left: 40px;
    text-align: center;
    background-color: #d4d5d8; }
  main #intro-image img {
    width: 850px; }

footer {
  padding-left: 40px;
  padding-top: 15px; }
