/* Variables */
@import "colors.scss";
@import "nav.scss";
$font_Arial: Arial, Helvetica, Sans-Serif;
$font_Sac: "Sacramento", cursive;
@mixin button {
  background-color: $color_1;
  color: $color_3;
  border: 0;
  cursor: pointer;
  width: 7em;
  height: 2.5em;
}

* {
  background-color: $color_1;
}
/* Nest Main */
main {
  width: 1350px;
  min-height: 535px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid $color_3;
  background-color: $color_4;

  span {
    font-family: $font_Sac;
    background-color: $color_4;
    font-size: 1.4rem;
  }

  h3 {
    font-family: $font_Arial;
    background-color: $color_4;
    font-size: 1.8rem;
  }

  p {
    font-family: $font_Arial;
    background-color: $color_4;
  }

  // Mixin or Extend for button
  button {
    @include button;
  }
  #intro-text {
    width: 700px;
    float: left;
    padding-left: 40px;
    text-align: center;
    background-color: $color_4;
  }
  #intro-image {
    img {
      width: 850px;
    }
  }
}
footer {
  padding-left: 40px;
  padding-top: 15px;
}
